NEXT_PUBLIC_BOOKING_EMAIL=bookings@djjulz.co.za
NEXT_PUBLIC_PHONE_NUMBER=
NEXT_PUBLIC_WHATSAPP_NUMBER=
NEXT_PUBLIC_INSTAGRAM_URL=
NEXT_PUBLIC_TIKTOK_URL=
NEXT_PUBLIC_GA_ID=
NEXT_PUBLIC_CLARITY_ID=
NEXT_PUBLIC_GSC_VERIFICATION=
